<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context" 
    
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd 
    	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">


	<!-- spring的配置 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager"/>

	<!-- hibernate的配置 -->
	
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${driverClass}"></property>
		<property name="jdbcUrl" value="${jdbcUrl}"></property>
		<property name="user" value="${user}"></property>
		<property name="password" value="${password}"></property>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
	
		<property name="dataSource" ref="dataSource"></property>
		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		
		<property name="mappingDirectoryLocations">
			<value>classpath:com/zhou/bean</value>
		</property>
	</bean>
	
	
	<!-- 以下开始，属于业务配置 -->
	
	
	<!-- 以下是用户模块 -->
	<bean id="userAction" class="com.zhou.web.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="userService" class="com.zhou.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>
	
	<bean id="userDao" class="com.zhou.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 以下是客户模块 -->
	<bean id="customerAction" class="com.zhou.web.action.CustomerAction" scope="prototype">
		<property name="customerService" ref="customerService"></property>
	</bean>
	<bean id="customerService" class="com.zhou.service.impl.CustomerServiceImpl">
		<property name="customerDao" ref="customerDao"></property>
	</bean>
	
	<bean id="customerDao" class="com.zhou.dao.impl.CustomerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 以下是字典模块 -->
	<bean id="baseDictAction" class="com.zhou.web.action.BaseDictAction" scope="prototype">
		<property name="baseDictService" ref="baseDictService"></property>
	</bean>
	<bean id="baseDictService" class="com.zhou.service.impl.BaseDictServiceImpl">
		<property name="baseDictDao" ref="baseDictDao"></property>
	</bean>
	
	<bean id="baseDictDao" class="com.zhou.dao.impl.BaseDictDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 以下是联系人模块 -->
	<bean id="linkManAction" class="com.zhou.web.action.LinkManAction" scope="prototype">
		<property name="linkManService" ref="linkManService"></property>
	</bean>
	<bean id="linkManService" class="com.zhou.service.impl.LinkManServiceImpl">
		<property name="linkManDao" ref="linkManDao"></property>
	</bean>
	
	<bean id="linkManDao" class="com.zhou.dao.impl.LinkManDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
	<!-- 以下是客户拜访模块 -->
	<bean id="saleVisitAction" class="com.zhou.web.action.SaleVisitAction" scope="prototype">
		<property name="saleVisitService" ref="saleVisitService"></property>
	</bean>
	<bean id="saleVisitService" class="com.zhou.service.impl.SaleVisitServiceImpl">
		<property name="saleVisitDao" ref="saleVisitDao"></property>
	</bean>
	
	<bean id="saleVisitDao" class="com.zhou.dao.impl.SaleVisitDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
</beans>	